.container {
    text-align: center;
    background-color: blue;
    width: 300px;
    border-radius: 15px;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 20px auto;
    max-width: 150px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(74, 74, 254, 0.625);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
